# <h1 align='center' >PIAIC Python Class-3</h1>
<br>
<h2 align='center' >Different types of Operators</h2>
<br><br>
<h4>Date: 01-12-2019</h4>
<h4>Class Time: 12:15 PM</h4>

# Arithmetic Operators

+ Addition
- Subtraction
* Multiplication
/ Division
// floor Division
% Modulus 
** Power

In [24]:
2+5

7

In [25]:
2.0 + 5.0

7.0

In [26]:
2+5.0

7.0

In [27]:
"A"+"B" #concatination

'AB'

In [28]:
["hamza","abid"] + ["farooq", "nasir"]

['hamza', 'abid', 'farooq', 'nasir']

In [29]:
("hamza","abid") + ("farooq", "nasir") #tuple concatination allowed

('hamza', 'abid', 'farooq', 'nasir')

In [30]:
{"hamza","abid"} + {"farooq", "nasir"} #not allowed on set

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [31]:
5-2

3

In [32]:
4.2-3

1.2000000000000002

In [33]:
{5,6,7,8}-{6,7}

{5, 8}

In [34]:
[5,6,7,8]-[6,7] #not allowed

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [35]:
2*4

8

In [36]:
'A'*3

'AAA'

In [37]:
['A']*3 #give elements when apply on list

['A', 'A', 'A']

In [38]:
('aA')*2 #give string on tuple

'aAaA'

In [39]:
11/3

3.6666666666666665

In [40]:
11//3 #float division ignore fraction part (gives only integer part)

3

In [41]:
12/3 #division will always result in float

4.0

In [42]:
11%3 #provide remainder

2

In [43]:
2**3 #2*2*2

8

In [44]:
"A"**3 #not allowed

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

# Comparison Operators

In [45]:
2==2

True

In [46]:
'A'=='a'

False

In [47]:
5>3

True

In [48]:
5>5

False

In [49]:
5>=5

True

In [50]:
'A'>'B' #Asci comparison

False

In [51]:
ord('A') #gives asci

65

In [52]:
ord('B')

66

In [53]:
chr(66) #give character for this particular asci value

'B'

In [54]:
chr(65)

'A'

In [55]:
3<=3

True

# Assignment operator

In [2]:
a=5
print(a)

5

In [3]:
a=5
a=6
a=7 #will update value
print(a)

7

In [58]:
a=1 #1
a+=2 #1+2
a+=3 #3=3
a+=4 #6+4
print(a)

#Work in the same way
#a=1
#a= a+2
#a= a+3
#a= a+4
#print (a)

10

In [59]:
a=1
a*=2
a*=3
print(a)

6

In [60]:
a=100
a/=2
a/=2
print(a)

25.0

In [61]:
a=100
a//=2
a//=2 #to obtain int only,we used float division
print(a)

25

In [62]:
a=2
a**=2
a**=3
print(a)

64

In [63]:
a= 'A'
a+= 'B'
print(a)

AB

# Logical Operators

and &
or |
not

In [64]:
True and True and True

True

In [65]:
True and False and True

False

In [66]:
user = input("UserName: ") #If both iputs are true
password = input("password: ")
user == "Admin" and password == "123"

UserName: Admin
password: 123

True

In [8]:
user = input("UserName: ") #If any one input is false
password = input("password: ")
user == "Admin" and password == "123"

UserName: Admin
password: 123

True

In [7]:
user = input("UserName: ") #work same way as cell 80
password = input("password: ")
(user == "Admin") & (password == "123")

UserName: Admin
password: password

False

In [6]:
True or False or True or False or False

True

In [5]:
True | False | True | False | False  #same as cell 83

True

In [4]:
user = 'Qasim' #Qasim,ALi Hamza will give true
password = '123' #use backslash to go to next line keeping the previous line logic going
user = input ("UserName: ")
password = input("password: ")
((user == "Qasim") | (user == "Ali")\
 | (user == "Hamza")) & \
(password == "123")

UserName: Ali
password: 123

True

In [3]:
user = 'a'
password = 123
 
not (user=='Ali' and password==123)

True

# Bitwise Operators

#decimal to binary conversion also binary to decimal
#decimal to binary bottom to up vice versa for next case
Right side
11001
1=1
0=0
0=0
1=8
1=16

28=11100
29=11101
35=100011

& and
11100
11101
-----
11100

In [1]:
28 & 29 # same as this manual code above

28

| or 
11100
11101
-----
11101

In [2]:
28|29 #same as this manual code above

29

^ xor
11101
11010
-----
00111

In [9]:
29^26 #same as manual step above

7

In [19]:
names = ['Ali','Hamza','Junaid','Nasir']
i=0
while(i<len(names)):
    if (names[i]=='Junaid'):
        print(True)
        break
    i+=1

True

In [18]:
names = ['Ali','Hamza','Junaid','Nasir']
'Nasir' in names

True

In [17]:
names = ('Ali','Hamza','Junaid','Nasir')
'Nasir' in names

True

In [16]:
names = {'Ali','Hamza','Junaid','Nasir'}
'Nasir' in names

True

# Identity Operators

In [20]:
a='5'
b=5
c=a
print(a is b)
print(a is c)

False
True

In [21]:
print(id(a)) #same address of a and c
print(id(b))
print(id(c))

2441661832496
140705625055760
2441661832496

In [22]:
id(a) == id(c)

True

# Control Flow

if else elif

if logic:
    value_if_True  #indentation(the 4 spaces on the left are equal to bracket that use used in c++)
else:
    value_if_False

In [67]:
if True:
    print('Pakistan')
else:
    print('Zindabad')

Pakistan

In [68]:
if False:
    print('Pakistan')
    print('Pakistan')
    print('Pakistan')
else:
    print('Zindabad')

Zindabad

In [70]:
user = input('username: ')
ps = input('password: ')
if ((user == "Qasim") | (user == "Ali")\
 | (user == "Hamza")) & \
(password == "123"):
    print('valid user')
else:
    print('invalid user')

username: Qasim
password: 123
valid user

In [1]:
user = input('username: ')
ps = input('password: ')
if (user in ["Qasim","Ali","Hamza"]) and password == "123":
    print('valid user')
else:
    print('invalid user')

username: farooq
password: 123
invalid user